.img-fluid {
    border-radius: 50%;
}

.link-group:hover {
    background-color: lightblue;
}

#map { 
    height: 500px; 
}

#tool {
    padding: 15px;
    border-radius: 8px;
    background-color: #74faff71;
}